/* 1) Placing the menu in the top right corner of the screen */

body {
  background-color: black; 
  margin: 0rem;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  text-align: center;
  /* border: solid green 10px; */
}

/*  Navigation Section */

nav {
  overflow: hidden;
  background-color: #333;
}

nav .links {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .sub-btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #333;
  margin: 0;
}

nav .links:hover,
.subnav:hover .sub-btn {
   background-color: rgb(0, 109, 67);
   color: black;
}
.sub-content {
   display: none;
   position: absolute;
   left: 0;
   background-color: rgb(0, 156, 83);
   width: 100%;
   z-index: 1;
}
.sub-content a {
   float: left;
   color: white;
   text-decoration: none;
}
.sub-content a:hover {
   background-color: #eee;
   color: black;
}
.subnav:hover .sub-content {
   display: block;
}

/* Slider Section */

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none; 
}

.image {
  width: 10vmin;
  height: 15vmin;
  object-fit:scale-down;
  object-position: center;
}

/* Footer section */
footer {
  /* border: solid wheat 10px; */
  margin-top: 4vmin;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  border: solid purple 1px;
  text-align: center;
  color: white;
}


/* Waves at bottom of Page */

.custom-shape-divider-bottom-1685471865 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1685471865 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 177px;
}

.custom-shape-divider-bottom-1685471865 .shape-fill {
  fill: #006D57;
}
