/* 1) Placing the menu in the top right corner of the screen */
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  text-align: center;
  border: solid green 10px;
}

.menu {
  display:flex;
  flex-direction: row;
  gap: 4vmin;
  justify-content: flex-end; 
  border: solid blue 10px;
  padding: 1vmin;
  position: fixed; top: 0; right: 0;
}

ul {
  display:flex;
  flex-direction: row;
  gap: 4vmin;
  list-style-type: none;
}

ul ul {
  display:flex;
  flex-direction: column;
  gap: .5vmin;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4vmin;
  position: absolute; left: 25%; top: 50%; transform: translate(0%, -50%);
  border: solid red 10px;
}

.image {
  width: 10vmin;
  height: 15vmin;
  object-fit:scale-down;
  object-position: center;
}

footer {
  border: solid wheat 10px;
  margin-top: 4vmin;
}

/*
ul {
  position: fixed; 
  top: 0;
  right: 0;
  width: calc(33.33% - 20px); 
  display: flex;
  justify-content: flex-end; 
  list-style: none;
} */

/* Displaying the nested list horizontally */
/*
ul ul {
  flex-direction: row;
}
*/

/* 2) Indicating the menu item when hovered or clicked */
/*
li:hover > a {
  background-color: #f0f0f0;
}

li:focus > a {
  background-color: #f0f0f0;
}
*/

/* 3) Showing the nested list on hover */
/*
li:hover ul {
  display: flex;
  flex-direction: column;
}

ul ul {
  display: none;
}
*/
/* Additional styling for the nested list */
/*
ul ul li {
  position: relative;
}
*/
/* Styling for the "crumb" class */
/*
.crumb:hover > a {
  background-color: #f0f0f0;
}

*/

/*
body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
  
  
  
  */